# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
np.random.seed(101)

### Each of the columns is a Pandas Series(eg. W is a pandas series and so x,y,z). 
### They all share a common index. Eg., they all share index A

In [5]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing
### output of single column is series where the output of multiple columns is a dataframe

In [6]:
# Output is like a series
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.X

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [10]:
# To fetch more than 1 column
df[['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057
E  2.605967  0.683509

**Creating a new column:**

In [11]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [12]:
df.drop('new')

KeyError: "['new'] not found in axis"

In [14]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [16]:
# We have to put inplace = true in order to drop a column permanently. 
# By default, it is false to ensure we don't accidentally drop a column
df.drop('new', axis=1, inplace=True)

In [17]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
# To drop a row
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [19]:
df.shape

(5, 4)

In [21]:
# Select a row based on label
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [22]:
# Select a row based on the index
df.iloc[3]

W    0.188695
X   -0.758872
Y   -0.933237
Z    0.955057
Name: D, dtype: float64

In [24]:
# Select a subset
df.loc['B', 'Y']

-0.8480769834036315

In [26]:
# Select a sub set
df.loc[['A','B'],['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [27]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [28]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [29]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [30]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [31]:
# We will get back the rows where w>0
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [36]:
# To grab all the rows where Z<0
df[df['Z'] < 0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [37]:
# To select the rows from result
result_df = df[df['W']>0]
result_df['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [38]:
# Alternate way
df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [40]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [42]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [47]:
df[(df['W']>0) and (df['Y']>1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [44]:
# Selecting based on multiple conditions
# and works on single condition of true or false. It won't work with a list of boolean condition.
# So use &
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [45]:
# No results found
df[(df['W']>0) & (df['Y']>5)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [46]:
# OR operator
df[(df['W']>0) | (df['Y']>5)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Index

In [48]:
# To reset index
# To make changes permanently, use inplace = True
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [49]:
new_index = 'TN MP UP KL AN'.split()

In [50]:
df['States'] = new_index

In [51]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     TN
B  0.651118 -0.319318 -0.848077  0.605965     MP
C -2.018168  0.740122  0.528813 -0.589001     UP
D  0.188695 -0.758872 -0.933237  0.955057     KL
E  0.190794  1.978757  2.605967  0.683509     AN

In [54]:
# To set the state to be a column
df.set_index('States')

               W         X         Y         Z
States
TN      2.706850  0.628133  0.907969  0.503826
MP      0.651118 -0.319318 -0.848077  0.605965
UP     -2.018168  0.740122  0.528813 -0.589001
KL      0.188695 -0.758872 -0.933237  0.955057
AN      0.190794  1.978757  2.605967  0.683509