## Comparison operator

In [1]:
5 > 4

True

In [2]:
4 > 10

False

In [3]:
1 >= 2

False

In [4]:
20 >= 20

True

## Equal check

In [5]:
a = 10
a == 10

True

In [6]:
1 == 2

False

In [7]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-7-ecdac3dcabfd>, line 1)

In [8]:
"hi" == "bye"

False

In [9]:
"hi" == "hi"

True

## Inequality check

In [10]:
1 != 10

True

## Logical operators

In [11]:
# Parenthis not necessary. It is to improve readability
(1 < 2) and (2 < 3)

True

In [12]:
(1 < 2) and (2 > 3)

False

In [13]:
(1 < 2) or (2 > 3)

True

In [14]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [15]:
True and True

True

In [16]:
True and False

False

In [17]:
True or False

True

## Conditional statement

In [18]:
# Code blocks are done by indentations
if ( 1 < 2 ):
    print("True")

True

In [19]:
if True:
    print("Perform code")

Perform code

In [20]:
if (1 == 2):
    print("first")
else:
    print("last")

last

In [21]:
if (1 == 2):
    print("first")
elif (2 == 3):
    print("second")
elif (3 == 3):
    print("third")
else:
    print("last")

third

In [22]:
if (1 == 2):
    print("first")
elif (2 == 2):
    print("second")
elif (3 == 3):
    print("third")
else:
    print("last")

second

In [23]:
marks = int(input("Enter your marks: "))
if (marks>=90):
    print("Grade A")
elif marks>=80:
    print("Grade B")
elif marks>=70:
    print("Grade C")
elif marks>=60:
    print("Grade D")
elif marks>=50:
    print("Grade E")
else:
    print("Grade F")

Enter your marks: 25
Grade F

In [24]:
# Finding BMI
n = input("Enter your name: ")
w = float(input("Enter the weight in kgs: "))
h = float(input("Enter the height in meters: "))
bmi = w/(h**2)
print("Hi %s, Your BMI is %d" %(n,bmi))
if bmi >= 30:
    print("Be more active and eat healthy foods")
elif (bmi >=25) and (bmi < 30):
    print("Eat healthy foods")
elif (bmi >= 18) and (bmi < 25):
    print("You are fit")
else:
    print("Eat more and exercise less")

Enter your name: MP
Enter the weight in kgs: 60
Enter the height in meters: 1.6
Hi MP, Your BMI is 23
You are fit

In [25]:
# Nested IF
a = int(input("Enter your age: "))
l = input("Enter your location: ")
if l == "USA":
    if a > 18:
        print("The person is an adult who is living in USA")
    else:
        print("The person is teen, living in USA")
else:
    print("The person is not living in USA")

Enter your age: 25
Enter your location: USA
The person is an adult who is living in USA

## In Clause

In [26]:
numbers = [1,2,3,4,5]
num = 5
if num in numbers:
    print("Number exists in the list")
else:
    print("Number doesn't exist")

Number exists in the list

In [27]:
names = ["MP", "SPO"]
if "MP" in names:
    print("Name exists in the list")
else:
    print("Name doesn't exist in the list")

Name exists in the list

## Ternery operator

In [28]:
n = 5
x = "Low" if n < 10 else "High"
print(x)

Low

In [29]:
n = 50
x = "Low" if n < 10 else "High"
print(x)

High

## Range Function
It will give the range of numbers.
<br>
Default step size is 1

In [30]:
range(0,5)

range(0, 5)

In [48]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [31]:
tuple(range(0,5))

(0, 1, 2, 3, 4)

In [32]:
tuple(range(4,12))

(4, 5, 6, 7, 8, 9, 10, 11)

In [33]:
# We can define the lower and upper bound, step size
tuple(range(1,20,2))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [34]:
# Range supports negative step size also
tuple(range(100,90,-2))

(100, 98, 96, 94, 92)

In [35]:
# In this kind of invalid scenario, it will return empty tuple
tuple(range(50,100,-2))

()

In [36]:
# We can create set too
print(set(range(10)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
# We can create set too
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Loops

## For Loop

In [39]:
seq = [1,2,3,4,5]
for num in seq:
    print(num)

1
2
3
4
5

In [43]:
# Range function
for i in range(0,5):
    print(i)

0
1
2
3
4

In [44]:
# Range with step
for j in range(1,20,2):
    print(j)

1
3
5
7
9
11
13
15
17
19

In [45]:
x = [1,2,3,4]
y = []
for num in x:
    y.append(num**2)
print(y)

[1, 4, 9, 16]

In [46]:
# List Comprehension for the above code
z = [num**2 for num in x] # Whatever you want to do inside the loop comes first followed by the loop condition
print(z)

[1, 4, 9, 16]

In [49]:
l = [1,2,3,4,5]
count = 0
for i in l:
    count = count + i;
print(count)

15

In [62]:
numbers = [3,56,43,23,678]
for num in numbers:
    if (num%2 == 0):
        print(num, " - even number")
    else:
        print(num," - odd Number")

3  - odd Number
56  - even number
43  - odd Number
23  - odd Number
678  - even number

### Iteration and length

In [60]:
words = ["one", "two", "three", "four", "five"]
for word in words:
    print(word, len(word))

one 3
two 3
three 5
four 4
five 4

In [63]:
words = ["Man", "is", "walking", "in", "the", "clover", "field"]
for i in range(len(words)):
    print(i, words[i])

0 Man
1 is
2 walking
3 in
4 the
5 clover
6 field

### Iterating in Dictionary

In [51]:
phonebook = {"person-1":12345, "person-2":67890, "person-3": 78654}
for name in phonebook:
    print("Name: {0}".format(name))

Name: person-1
Name: person-2
Name: person-3

In [52]:
# Items will return a list of tuples
phonebook.items()

dict_items([('person-1', 12345), ('person-2', 67890), ('person-3', 78654)])

In [55]:
for name in phonebook.items():
    print("Name: {0}, Mobile Number: {1}".format(name[0], name[1]))

Name: person-1, Mobile Number: 12345
Name: person-2, Mobile Number: 67890
Name: person-3, Mobile Number: 78654

In [56]:
for name, mobile_num in phonebook.items():
    print("Name: {0}, Mobile Number: {1}".format(name, mobile_num))

Name: person-1, Mobile Number: 12345
Name: person-2, Mobile Number: 67890
Name: person-3, Mobile Number: 78654

In [57]:
for name in phonebook.keys():
    print("Name: "+name)

Name: person-1
Name: person-2
Name: person-3

In [59]:
for mobile_number in phonebook.values():
    print("Mobile Number: {0}".format(mobile_number))

Mobile Number: 12345
Mobile Number: 67890
Mobile Number: 78654

# While Loop

In [47]:
i = 1
while i <= 5:
    print("value of i is {}".format(i))
    i = i+1;

value of i is 1
value of i is 2
value of i is 3
value of i is 4
value of i is 5

In [65]:
"""
while True:
    print("Infinite loop")
"""

'\nwhile True:\n    print("Infinite loop")\n'

In [68]:
i = input("Echo Service(Enter stop to halt the execution): ")
while i != "stop":
    print(i)
    i = input("Echo Service(Enter stop to halt the execution): ")
print("Program halted")

Echo Service(Enter stop to halt the execution): hello
hello
Echo Service(Enter stop to halt the execution): world
world
Echo Service(Enter stop to halt the execution): stop
Program halted

# Exercises

In [69]:
# Find Discount
amount = float(input("Enter the total billable amount: "))
discount = 0
if amount <= 1000:
    discount = 5
elif amount > 1000  and amount <= 5000:
    discount = 10
else:
    discount = 15

billable_amount = amount - ((amount*discount)/100)
print("Total discount is {0}, Bill amount is {1}".format(discount, billable_amount))

Enter the total billable amount: 8000
Total discount is 15, Bill amount is 6800.0