In [1]:
1+1

2

In [3]:
1*3

3

In [4]:
2/0.5

4.0

In [5]:
2/1.0

2.0

In [6]:
2/1

2.0

In [7]:
2 ** 4

16

In [9]:
#Python follows order of operation
2 + 3*5 + 3

20

In [10]:
4 % 2

0

In [12]:
5 % 2

1

<h2>Variables</h2>

In [13]:
x = 4
y = 5
x+y

9

In [15]:
x = x*2
x+y

13

<h2>String</h2>

In [16]:
'single quote string'

'single quote string'

In [17]:
"Double quote also a string"

'Double quote also a string'

In [18]:
"I'm keeping single quote"

"I'm keeping single quote"

In [19]:
x = 'hello'
print(x)

hello

In [20]:
#Format a string
name = 'MP'
num = 12
print("My name is {} and my number is {}".format(name,num))

My name is MP and my number is 12

In [23]:
print("My name is {one} and my number is {two}".format(one=name,two=num))
print("My name is {one} and my number is {two}, another input {one}".format(one=name,two=num))
print("My name is {one} and my number is {two}".format(one=name,two=12345))

My name is MP and my number is 12
My name is MP and my number is 12, another input MP
My name is MP and my number is 12345

In [1]:
s="hello"
print(s[0])

h

In [5]:
#Slicing
s="abcdefghijkl"
print(s[0:]) #Same syntax as above(colon syntax)
print(s[:3]) #It means upto, not including. Index starts from 0 upto 3 which is 0 to 2
print(s[2:5])

abcdefghijkl
abc
cde

<h2>List</h2>

In [6]:
[1,2,3]

[1, 2, 3]

In [7]:
my_list = ['a', 'b', 'c']
# add an element
my_list.append('d')
print(my_list)

['a', 'b', 'c', 'd']

In [8]:
# Get an element from List
print(my_list[2])

c

In [9]:
# We can slice it
print(my_list[1:3])

['b', 'c']

In [10]:
# Re-index
my_list[0] = "hello"
my_list

['hello', 'b', 'c', 'd']

In [12]:
# Nested list
new_list = ['a', 'b', ['c', 'd']]
print(new_list[2])

# To access the inner list element
print(new_list[2][0])

['c', 'd']
c

In [13]:
# We can have list of multiple data types also
another_list = [1,2,3,4,5,"hello"]
print(another_list)

[1, 2, 3, 4, 5, 'hello']

In [21]:
# Nested list inside a nested list
one_more_list = [1,2,3,4,5,['a','b',['c']]]
print(one_more_list[5])
print(one_more_list[5][2])
print(one_more_list[5][2][0])

['a', 'b', ['c']]
['c']
c