In [7]:
a = b = c = 11
print(a)
print(b)
print(c)

11
11
11

In [8]:
a = a+2
print(a)
print(b)

13
11

In [1]:
1+1

2

In [3]:
1*3

3

In [4]:
2/0.5

4.0

In [5]:
2/1.0

2.0

In [6]:
2/1

2.0

In [7]:
2 ** 4

16

In [9]:
#Python follows order of operation
2 + 3*5 + 3

20

In [10]:
4 % 2

0

In [12]:
5 % 2

1

<h2>Variables</h2>

In [13]:
x = 4
y = 5
x+y

9

In [15]:
x = x*2
x+y

13

<h2>String</h2>

In [16]:
'single quote string'

'single quote string'

In [17]:
"Double quote also a string"

'Double quote also a string'

In [18]:
"I'm keeping single quote"

"I'm keeping single quote"

In [19]:
x = 'hello'
print(x)

hello

In [20]:
#Format a string
name = 'MP'
num = 12
print("My name is {} and my number is {}".format(name,num))

My name is MP and my number is 12

In [23]:
print("My name is {one} and my number is {two}".format(one=name,two=num))
print("My name is {one} and my number is {two}, another input {one}".format(one=name,two=num))
print("My name is {one} and my number is {two}".format(one=name,two=12345))

My name is MP and my number is 12
My name is MP and my number is 12, another input MP
My name is MP and my number is 12345

In [1]:
s="hello"
print(s[0])

h

In [5]:
#Slicing
s="abcdefghijkl"
print(s[0:]) #Same syntax as above(colon syntax)
print(s[:3]) #It means upto, not including. Index starts from 0 upto 3 which is 0 to 2
print(s[2:5])

abcdefghijkl
abc
cde

<h2>List</h2>

In [6]:
[1,2,3]

[1, 2, 3]

In [2]:
my_list = ['a', 'b', 'c']
# add an element
my_list.append('d')
print(my_list)

['a', 'b', 'c', 'd']

In [3]:
my_list.append(['e','f'])
print(my_list)

['a', 'b', 'c', 'd', ['e', 'f']]

In [8]:
# Get an element from List
print(my_list[2])

c

In [9]:
# We can slice it
print(my_list[1:3])

['b', 'c']

In [21]:
# Re-index
my_list[0] = "hello"
my_list

['hello', 2, 3, 4]

In [12]:
# Nested list
new_list = ['a', 'b', ['c', 'd']]
print(new_list[2])

# To access the inner list element
print(new_list[2][0])

['c', 'd']
c

In [13]:
# We can have list of multiple data types also
another_list = [1,2,3,4,5,"hello"]
print(another_list)

[1, 2, 3, 4, 5, 'hello']

In [21]:
# Nested list inside a nested list
one_more_list = [1,2,3,4,5,['a','b',['c']]]
print(one_more_list[5])
print(one_more_list[5][2])
print(one_more_list[5][2][0])

['a', 'b', ['c']]
['c']
c

<h2>Dictionary</h2>
<h3>It do not store any order. So you can't fetch with index. You can just fetch with key</h3>

In [6]:
k = {"key1":"value1", "key2": 123, 123:1245, "key4": [1,2,3,4]}
print(k)
print(k["key2"])
print(k["key4"])
print(k["key4"][1])

{'key1': 'value1', 'key2': 123, 123: 1245, 'key4': [1, 2, 3, 4]}
123
[1, 2, 3, 4]
2

In [8]:
my_list = k["key4"]
print(my_list)

[1, 2, 3, 4]

In [12]:
# Inner Dictionary
d = {"key1": {"inner_key":[1,2,3,4]}}
print(d["key1"])
print(d["key1"]["inner_key"])

{'inner_key': [1, 2, 3, 4]}
[1, 2, 3, 4]

<h2>Boolean</h2>

In [14]:
True

True

In [15]:
False

False

## Tuple
### Difference between tuple and list is Tuple is immutable. Once it is assigned, you can't change the value inside it. Assignment is like a list but with a parentheses. Fetching the data is same like list

In [18]:
tuple = (1,2,3,"Four")
print(tuple)
print(tuple[2])

(1, 2, 3, 'Four')
3

In [19]:
tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

## Sets
### It is a collection of unique elements. Declaration inside curly brackets.

In [26]:
s = {1,2,3,4,5,5,5,5,5}
print(s)

{1, 2, 3, 4, 5}

In [31]:
# List to Set
my_list = [1,1,1,2,3,6,6,6,6]
s1 = set(my_list)
print(s1)

{1, 2, 3, 6}

In [32]:
# Add an element
s.add(10)
print(s)

{1, 2, 3, 4, 5, 10}