In [1]:
def times2(var):
    return var*2;

In [3]:
#Map function
"""
Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
"""
my_list = [1,2,3,4,5]
map(times2, my_list)

In [4]:
list(map(times2, my_list))

[2, 4, 6, 8, 10]

In [5]:
# Lambda function
t = lambda var:var*2
t(6)

12

In [6]:
list(map(t, my_list))

[2, 4, 6, 8, 10]

In [8]:
# Filter function
f = filter(lambda num:num%2==0, range(0,11))
f

In [9]:
list(f)

[0, 2, 4, 6, 8, 10]