# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
np.random.seed(101)

### Each of the columns is a Pandas Series(eg. W is a pandas series and so x,y,z). 
### They all share a common index. Eg., they all share index A

In [4]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing
### output of single column is series where the output of multiple columns is a dataframe

In [5]:
# Output is like a series
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [6]:
type(df['W'])

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.X

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [11]:
# To fetch more than 1 column
df[['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057
E  2.605967  0.683509

**Creating a new column:**

In [12]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [13]:
df.drop('new')

KeyError: "['new'] not found in axis"

In [14]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [16]:
# We have to put inplace = true in order to drop a column permanently. 
# By default, it is false to ensure we don't accidentally drop a column
df.drop('new', axis=1, inplace=True)

In [17]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
# To drop a row
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [19]:
df.shape

(5, 4)

In [20]:
# Select a row based on label
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [21]:
# Select a row based on the index
df.iloc[3]

W    0.188695
X   -0.758872
Y   -0.933237
Z    0.955057
Name: D, dtype: float64

In [22]:
# Select a subset
df.loc['B', 'Y']

-0.8480769834036315

In [23]:
# Select a sub set
df.loc[['A','B'],['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [24]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [26]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [28]:
# We will get back the rows where w>0
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
# To grab all the rows where Z<0
df[df['Z'] < 0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [30]:
# To select the rows from result
result_df = df[df['W']>0]
result_df['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [31]:
# Alternate way
df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [32]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [33]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df[(df['W']>0) and (df['Y']>1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
# Selecting based on multiple conditions
# and works on single condition of true or false. It won't work with a list of boolean condition.
# So use &
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [36]:
# No results found
df[(df['W']>0) & (df['Y']>5)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [37]:
# OR operator
df[(df['W']>0) | (df['Y']>5)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Index

In [38]:
# To reset index
# To make changes permanently, use inplace = True
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [39]:
new_index = 'TN MP UP KL AN'.split()

In [40]:
df['States'] = new_index

In [41]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     TN
B  0.651118 -0.319318 -0.848077  0.605965     MP
C -2.018168  0.740122  0.528813 -0.589001     UP
D  0.188695 -0.758872 -0.933237  0.955057     KL
E  0.190794  1.978757  2.605967  0.683509     AN

In [42]:
# To set the state to be a column
df.set_index('States')

               W         X         Y         Z
States
TN      2.706850  0.628133  0.907969  0.503826
MP      0.651118 -0.319318 -0.848077  0.605965
UP     -2.018168  0.740122  0.528813 -0.589001
KL      0.188695 -0.758872 -0.933237  0.955057
AN      0.190794  1.978757  2.605967  0.683509

## Multi index

In [67]:
outside = ['G1','G1','G1','G2','G2']
inside= [1,2,3,1,2]
hier_index = list(zip(outside,inside)) # It will create a tuple pair
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2)]

In [68]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2)],
           )

In [69]:
df = pd.DataFrame(randn(5,2), hier_index, ['A','B'])
df

             A         B
G1 1 -0.755325 -0.346419
   2  0.147027 -0.479448
   3  0.558769  1.024810
G2 1 -0.925874  1.862864
   2 -1.133817  0.610478

In [70]:
df.loc['G1'] # returns a sub data frame

          A         B
1 -0.755325 -0.346419
2  0.147027 -0.479448
3  0.558769  1.024810

In [71]:
df.loc['G1'].iloc[2]

A    0.558769
B    1.024810
Name: 3, dtype: float64

In [72]:
# To name the index
df.index.names

FrozenList([None, None])

In [73]:
df.index.names = ['Group','Num']
df

                  A         B
Group Num
G1    1   -0.755325 -0.346419
      2    0.147027 -0.479448
      3    0.558769  1.024810
G2    1   -0.925874  1.862864
      2   -1.133817  0.610478

In [74]:
# To fetch G2 - 2nd row - B column
df.loc['G2'].iloc[1]['B']

0.6104779075384634

In [75]:
# Cross section that can be used only on multi level index. We can also fetch the row like loc
df.xs('G1')

            A         B
Num
1   -0.755325 -0.346419
2    0.147027 -0.479448
3    0.558769  1.024810

In [76]:
# And we can fetch levels. For ex, level 1 from both G1 and G2
df.xs(1, level='Num')

              A         B
Group
G1    -0.755325 -0.346419
G2    -0.925874  1.862864